body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-style: 'Roboto', sans-serif;
}

/* section 1 - header, navigation and content */
.section-one {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}

/* section 1 - navigation and header */
.navigation {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #c7c7c7;
    font-style: 'Roboto', sans-serif;
}

/* section 1 - content */
.content-section-one {
    display: flex;
    justify-content: space-around;
    padding: 50px 25px;
    flex: 0 1 0;
}

.left-content {
    display: flex;
    flex-flow: column wrap;
    padding-right: 50px;
    color: #F9FAF8;
}

h1,
p {
    margin: 5px;
}

.button-section-1 {
    margin: 5px;
    padding: 8px;
    width: 100px;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    font-weight: bold;
}


.image {
    width: 300px;
    height: auto;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

/* section 2 */
.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two .content {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.illustration {
    height: 100px;
    width: 100px;
    border: 3px solid #3882F6;
    border-radius: 25px;
}

.illustration-text {
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.text {
    color: #464646;
    font-style: 'Roboto', sans-serif;
}

/* section three - quote */
.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0 100px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    margin: 0 auto;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-attribution {
    margin-top: 20px;
    margin-left: auto;
    font-weight: bold;
    font-size: 20px;
}

/* section four */
.section-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
}

.container-section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    gap: 100px;
    border: 3px solid #3882F6;
    background-color: #3882F6;
    border: 3px solid #3882F6;
    border-radius: 12px;
    flex: 1;
}

.call-action {
    font-weight: bold;
}

.subtext {
    font-weight: lighter;
    font-size: 5px;
}

.section-four button {
    border: 2px solid white;
    margin: 5px;
    padding: 8px;
    width: 100px;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    font-weight: bold;
}