body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* font-style: 'Roboto', sans-serif; */
}

/* section 1 - header, navigation and content */
.section-one {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* section 1 - header */
.navigation {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* section 1 - content */
.content-section-one {
    display: flex;
    justify-content: center;
    padding: 100px 50px;
}

.image {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}